.titulo{
    color: rgb(233, 4, 4);
}

.paragrafo{
    font-size: 12px;
    color: grey;
    display: inline-block; /*inline-block a gente consegue colocar uma foto uma do lado da outra ainda contendo espaço entre elas.. eu consigo alterar a altura e a largura  */
    width: 300px;
}

.imagem{
    width: 93px;
    height: 201px;
}

.subtitulo{
    display: inline; /* inline ele respeia o tamanho do conteudo, ao invez de ocupar a linha inteira. ele não quebra a linha.nao deixa a gente mudar a altura e a largura*/
}

.conteudo{
    width: 200px;
    display: inline-block;
}


/* 
Inline: ocupa apenas o conteudo e nao da pra alterar largura e altura
Block: ocupa 100% da largura do pai, da pra alterar altura e largura
Inline-Block: ocupa apenas o conteudo e da pra alterar altura e largura
font-size: modifica o tamanho da fonte.
color: altera a cor do texto.
 

*/

